#python basics

1. write a python program to print "Hello, World!"

In [ ]:
print("Hello, World!")

Hello, World!

2. write a python program that displays your name and age.

In [ ]:
age=input("Enter name")
name=input("enter age ")
print("my name is naincy and i am 23 years old")

Enter namenaincy
enter age 23
my name is naincy and i am 23 years old

3. write a code to print all the pre-defined keywords in python using the keyword library.

In [ ]:
import keyword
print    (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4. write a program that checks if a given word is a python keyword.

In [ ]:
import keyword
def is_keyword(word):
    return keyword. iskeyword(word)
    word = input("Enter a word:")
    if is_keyword(word):
        print(f"{word} is a Python keyword.")
    else:
        print(f"{word} is not a Python keyword.")

5. create a list and tuple in python, and demonstrate how attempting to change an element works differently for each.

In [ ]:
#mutale behavior
fruits_list = ['apple','banana','mango','pineapple']

fruits_list[1] = 'kiwi'
print(fruits_list)

#its behaviour immutable
fruits_tuple = ('apple','banana','mango','pineapple')

#fruits_tuple[2] = 'kiwi'
#print(fruits_tuple)

#'tuple' oject does not support item

['apple', 'kiwi', 'mango', 'pineapple']

6. write a function to demonstrate the behavior of mutable and immutable arguments.

In [ ]:
def modify_agruments(a, b):
    a += 1
    b.append(4)

    x = 5 #immutable
    y = [1, 2, 3] #mutable
    modify_arguments(x, y)
    print("x:", x) # x remains unchanged
    print("y:", y) # y is modified in place

7. write a program to demonstrate the use of logical operators.

In [ ]:
a = 10
b = 5
c = 8

if a > b and a > c:
    print("a is the largest number")
elif b > a and b > c:
    print("b is the largest number")
else:
    print("c is the largest number")

a is the largest number

8. write a python program to convert user input from string to integer, float and boolean types.

In [ ]:
def convert_to_integer(value):
    """converts user input to integer, float, or boolean type."""
    try:
        return int(value)
    except ValueError:
        try:
            return float(value)
        except ValueError:
            return bool(value)

9. write code to demonstrate type casting with list elements.

In [ ]:
#example: converting strings to integers
str_list = ["1", "2", "3", "4", "5"]
int_list = [int(x) for x in str_list]
print(int_list)

#example: converting integers to strings
int_list = [1, 2, 3, 4, 5]
str_list = [str(x) for x in int_list]
print(str_list)

[1, 2, 3, 4, 5]
['1', '2', '3', '4', '5']

10. write a program that checks if a number is positive, negative, or zero.

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 0
The number is zero.

11. write a for loop to print numbers from 1 to 10.

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

12. write a python program to find the sum of all even numbers between 1 and 50.

In [ ]:
num = int(input("Enter a number: "))
sum = 0
for i in range(1, num + 1):
    if i % 2 == 0:
        sum += i
        print(sum)

Enter a number: 50
2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

13. write a program to reverse a string using a while loop.

In [ ]:
name= str((input("enter your name")))
i = len(name) - 1
reversed_name = ""
while i >= 0:
    reversed_name += name[i]
    i -= 1
print(reversed_name)

enter your namenaincy
ycnian

14. write a python program to calculate the factorial of a number provided by the user using a while loop.

In [ ]:
num= int(input("enter a number"))
factorial = 1
i = 1
# check for negative numbers
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
  # calculate factorial using a while loop
  while i <= num:
    factorial *= i
    i += 1
print("the factorial of", num, "is", factorial)

enter a number24
the factorial of 24 is 620448401733239439360000